h2 {
  width: 900px;
  margin: auto;
  margin-top:  20px;
  margin-bottom: 50px;
  text-align: center;
  color: #ed8c0c;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 2px;
  font-size: 2.2em;
}
.new-year-goal {
  margin-top: 100px;
  margin-bottom: 100px;
}



.new-year-goal ul {
  color: #0c2458;
  font-weight: bold;
  font-size: 1.2em;
  width: 800px;
  margin: auto;
}
.new-year-goal li {
  list-style: none;
  margin-bottom: 20px;
  text-align: justify;
}
.new-year-goal li::before {
    content: '\2713';
    margin-right: 10px;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    color: #ed8c0c;
}
